* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #333333;
}

#camera {
    background-color: white;
    position: absolute;   
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}